<div class="content-header mb-3">Color Palette</div>
<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card gradient-blackberry">
        <div class="card-body">
          <div class="card-block pt-2 pb-0">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="font-large-1 mb-0">$2156</h3>
                <span>Total Tax</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-pie-chart font-large-1"></i>
              </div>
            </div>
          </div>
          <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
            <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
             [events]="WidgetlineChart.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card gradient-ibiza-sunset">
        <div class="card-body">
          <div class="card-block pt-2 pb-0">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="font-large-1 mb-0">$1567</h3>
                <span>Total Cost</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-bulb font-large-1"></i>
              </div>
            </div>
          </div>
          <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
            <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
             [events]="WidgetlineChart.events">
            </x-chartist>
          </div>
  
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card gradient-green-tea">
        <div class="card-body">
          <div class="card-block pt-2 pb-0">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="font-large-1 mb-0">$4566</h3>
                <span>Total Sales</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-graph font-large-1"></i>
              </div>
            </div>
          </div>
          <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
            <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
             [events]="WidgetlineChart.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
      <div class="card gradient-pomegranate">
        <div class="card-body">
          <div class="card-block pt-2 pb-0">
            <div class="media">
              <div class="media-body white text-left">
                <h3 class="font-large-1 mb-0">$8695</h3>
                <span>Total Earning</span>
              </div>
              <div class="media-right white text-right">
                <i class="icon-wallet font-large-1"></i>
              </div>
            </div>
          </div>
          <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
            <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
             [events]="WidgetlineChart.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Statistics cards Ends-->