<section class="details">
  <div class="content-header mb-3">{{coin?.name}} - {{coin?.symbol}}</div>
  <div class="row">
      <div class="col-3 pr-0 stats">
          <div class="card px-1">
              <div class="pl-2 py-3">
                <span>Rank: {{coin?.rank}}</span>
                <span>Price (BTC): {{coin?.pric_btc}}</span>
                <span>Price (USD): {{coin?.price_usd}}</span>
                <span>24h Volume: {{coin["24h_volume_usd"]}}$</span>
                <span>Market Cap: {{coin?.market_cap_usd}}$</span>
                <span>Available supply: {{coin?.available_supply}}</span>
              </div>
          </div>
      </div>
  </div>
</section>