<section class="coins">
    <div class="row">
      <div class="col-md-12">
        <form class="navbar-form navbar-right mt-1" role="search">
          <div class="position-relative has-icon-right">
            <input type="text" class="form-control round" placeholder="Search">
            <div class="form-control-position">
              <i class="ft-search"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-12" *ngFor="let coin of coins; index as i" (click)="loadDetails(coin)">
        <div class="card" [ngClass]="coin.bg_color">
          <div class="card-body">
            <div class="card-block pt-2 pb-0">
              <div class="media">
                <div class="media-body white text-left">
                  <h3 class="font-large-1 mb-0">{{coin.name}}</h3>
                  <span>{{coin.price_usd}} $</span>
                </div>
                <div class="media-right white text-right">
                  <i class="icon-pie-chart font-large-1"></i>
                </div>
              </div>
            </div>
            <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
              <x-chartist class="" [data]="parsedData[i].data" [type]="parsedData[i].type" [options]="parsedData[i].options" [responsiveOptions]="parsedData[i].responsiveOptions"
                [events]="parsedData[i].events">
              </x-chartist>
            </div>
          </div>
        </div>
      </div>
      <!--Statistics cards Ends-->
    </div>
  </section>